.email {
    font-size: 0.9em;
    font-style: italic;
    margin-left: 10px;
}

.message {
    margin-bottom: 16px;
    margin-right: 20px;
}

.message-header {
    font-weight: bold;
    background-color: #d3d3d3;
    padding: 8px;
    align-items: center;
    display: flex;
}

.message-content {
    padding: 8px;
    font-size: 0.9rem;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
