<h2 mat-dialog-title>Add New Message</h2>
<mat-dialog-content class="dialog">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="name" required placeholder="Name" />
    <mat-error *ngIf="name.invalid">{{ nameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="email" required placeholder="Email" />
    <mat-error *ngIf="email.invalid">{{ emailErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput [formControl]="message" required placeholder="Message" />
    <mat-error *ngIf="message.invalid">{{ messageErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-dialog-actions>
    <button
      mat-button
      id="save-button"
      color="primary"
      (click)="save()"
      [disabled]="name.invalid || email.invalid || message.invalid"
    >
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button color="primary" (click)="dismiss()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
