<h2 mat-dialog-title>Add New Message</h2>
<mat-dialog-content class="dialog">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [formControl]="form.controls.name" required placeholder="Name" />
    <mat-error *ngIf="form.controls.name.invalid">{{ form.controls.name | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="form.controls.email" required placeholder="Email" />
    <mat-error *ngIf="form.controls.email.invalid">{{ form.controls.email | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Message</mat-label>
    <input matInput [formControl]="form.controls.message" required placeholder="Message" />
    <mat-error *ngIf="form.controls.message.invalid">{{ form.controls.message | errorMessage }}</mat-error>
  </mat-form-field>

  <mat-dialog-actions>
    <button
      mat-button
      id="save-button"
      color="primary"
      (click)="save()"
      [disabled]="form.invalid"
    >
      <mat-icon>save</mat-icon> Save
    </button>
    <button mat-button color="primary" (click)="dismiss()">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
