.post {
    margin-bottom: 16px;
    margin-right: 20px;
}

.post-header {
    font-weight: bold;
    background-color: #d3d3d3;
    padding: 8px;
}

.post-content {
    padding: 8px;
    font-size: 0.9rem;
    font-style: italic;
}